<div class="text-center h-100">
  <h3>Welcome to Super Shlomo!</h3>

  <div>
    <p>
      We have an array of wonderful products we personally hand picked just for
      you!
    </p>
    <p>
      From our fresh fruits and vegatables to our delicious meats, everything is
      with your taste buds in mind!
    </p>
    <p>Come on in and take part in the pleasure of easy shopping!</p>
    <p>
      With every thing right from your fingertips to your front door in just a
      matter of hours, you are really in for a treat!
    </p>
    <p>So what are you waiting for?</p>
    <p>Give it a try and invite all your friends as well!</p>
    <p>We really appreciate you visiting! <br />Sincerely, <br />Shlomo</p>
  </div>
</div>
